@import "tailwindcss";

:root {
  /* Colores globales */
  --primary-100: #0085ff;
  --primary-200: #69b4ff;
  --primary-300: #e0ffff;
  --primary-400: #000000;
  --accent-100: #006fff;
  --accent-200: #e1ffff;
  --acent-300: #000000;
  --text-100: #ffffff;
  --text-200: #9e9e9e;
  --text-300: #000000;
  --text-400: #006fff;
  --text-500: #c21d03;
  --text-600: #4caf50;
  --bg-100: #1e1e1e;
  --bg-200: #2d2d2d;
  --bg-300: #454545;
  --bg-400: #000000;
}

/*  Colores globales para clases personalizadas */

.primary-100 {
  background-color: var(--primary-100);
}

.primary-200 {
  background-color: var(--primary-200);
}

.primary-300 {
  background-color: var(--primary-300);
}

.accent-100 {
  background-color: var(--accent-100);
}

.accent-200 {
  background-color: var(--accent-200);
}

.text-100 {
  color: var(--text-100);
}

.text-200 {
  color: var(--text-200);
}

.text-300 {
  color: var(--text-300);
}

.text-400 {
  color: var(--text-400);
}

.text-500 {
  color: var(--text-500);
}

.text-600 {
  color: var(--text-600);
}

.bg-100 {
  background-color: var(--bg-100);
}

.bg-200 {
  background-color: var(--bg-200);
}

.bg-300 {
  background-color: var(--bg-300);
}

.bg-400 {
  background-color: var(--bg-400);
}
